.Dropdown {
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  background-color: var(--color-neutral-800);
  border: 1px solid var(--color-neutral-600);
  border-radius: var(--radius-12);
}

:global(.popup-content) {
  * {
    min-width: 10rem;
  }
}
