.WeatherSummary {
  display: flex;
  flex-direction: column;

  gap: 20px;

  .infoSection {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    grid-auto-rows: 118px;
  }
}

@media (max-width: 960px) {
  .WeatherSummary {
    .infoSection {
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
    }
  }
}
