.Button {
  background-color: inherit;

  border: 1px solid transparent;
  color: var(--color-neutral-0);
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 8px 10px;

  &.dropdown,
  &.trigger-units,
  &.trigger-days {
    border-radius: var(--radius-8);
  }

  &.dropdown {
    width: 100%;
    font-family: var(--text-preset-7-font-family);
    gap: 10px;
    justify-content: space-between;

    &:hover,
    &:active {
      background-color: var(--color-neutral-700);
    }

    &.current {
      background-color: var(--color-neutral-700);
    }
  }

  &.trigger-units {
    padding: 12px 16px;
    background-color: var(--color-neutral-800);
    gap: 10px;
  }

  &.trigger-days {
    padding: 8px 16px;
    gap: 12px;
    background-color: var(--color-neutral-600);
  }

  &.search {
    padding: 16px 24px;
    background-color: var(--color-blue-500);
    font-family: var(--text-preset-5medium-font-family);
    border-radius: var(--radius-12);

    &:hover,
    &:active {
      background-color: var(--color-blue-700);
    }
  }
}

/* TODO: focus state */
