.HourlyForecast {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: var(--color-neutral-800);
  border: 1px solid transparent;
  border-radius: var(--radius-20);
  max-height: calc(100vh - 3rem);
  overflow: scroll;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      line-height: 0;
    }
  }

  .hours {
    display: flex;
    flex-direction: column;
    gap: inherit;
  }
}
