.DropdownMenu {
  background-color: var(--color-neutral-800);
  padding-inline: 8px;
  padding-block: 8px;
  border-radius: var(--radius-12);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  width: 12rem;
  position: static;

  &.units {
    padding-block: 6px;
  }
}
