.InfoCard {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 24px;

  background-color: var(--color-neutral-800);
  border-radius: var(--radius-12);
  border: 1px solid var(--color-neutral-600);
  width: min-content;

  .infoName {
    text-transform: capitalize;
    font-family: var(--text-preset-6-font-family);
    font-size: var(--text-preset-6-font-size);
    color: var(--color-neutral-200);
  }

  .infoValue {
    font-family: var(--text-preset-3-font-family);
    font-size: var(--text-preset-3-font-size);
    color: var(--color-neutral-0);
  }
}
