.InfoCard {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 24px;
  align-items: flex-start;

  background-color: var(--color-neutral-800);
  border-radius: var(--radius-12);
  border: 1px solid var(--color-neutral-600);

  .infoName {
    text-transform: capitalize;
    font: var(--font-6);
    color: var(--color-neutral-200);
  }

  .infoValue {
    font: var(--font-3);
    color: var(--color-neutral-0);
  }
}
