.LocationSearch {
  display: flex;
  gap: 16px;

  .searchBlock {
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-800);
    gap: 16px;
    padding: 16px 24px;
    border: 1px solid transparent;
    border-radius: var(--radius-12);
    flex: 1;
    width: 40vw;
    box-sizing: border-box;

    input {
      background-color: transparent;
      border: none;
      outline: none;
      box-shadow: none;
      font: var(--font-5m);
      width: 100%;
      color: var(--color-neutral-0);
    }
  }
}

.loading {
  display: flex;
  gap: 10px;
  padding: 10px 8px;
  font: var(--font-7);
}

:global(.popup-content) {
  width: 50vw;
}

@media (max-width: 960px) {
  .LocationSearch {
    flex-direction: column;

    .searchBlock {
      width: calc(100vw - 48px);
    }
  }

  :global(.popup-content) {
    width: calc(100vw - 48px);
  }
}
