.toggleBtn {
  font: var(--font-7);
}

.unitControlSection {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;

  .unitControlBlock {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    gap: 8px;

    &:not(:last-child) {
      padding-bottom: 4px;
      border-bottom: 1px solid var(--color-neutral-600);
    }

    .unitOption {
      color: var(--color-neutral-300);
      font: var(--font-8);
      padding: 6px 8px;
    }
  }
}
