.DropdownMenu {
  background-color: var(--color-neutral-800);
  padding-inline: 8px;
  padding-block: 8px;
  border-radius: var(--radius-12);
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;

  &.units {
    padding-block: 6px;
  }

  > * {
    width: 100%;
  }
}
