:root {
  --color-neutral-900: #02012c;
  --color-neutral-800: #262540;
  --color-neutral-700: #302f4a;
  --color-neutral-600: #3c3b5e;
  --color-neutral-300: #acacb7;
  --color-neutral-200: #d4d3d9;
  --color-neutral-0: #ffffff;

  --color-orange: #ff820a;

  --color-blue-500: #4658d9;
  --color-blue-700: #2b1b9c;
}
