@font-face {
  font-family: "DM Sans, SemiBold Italic";
  src: url("/fonts/DMSans-SemiBoldItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Bricolage Grotesque, Bold";
  src: url("/fonts/BricolageGrotesque-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "DM Sans, Light";
  src: url("/fonts/DMSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "DM Sans, Bold";
  src: url("/fonts/DMSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "DM Sans, SemiBold";
  src: url("/fonts/DMSans-SemiBold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "DM Sans, Medium";
  src: url("/fonts/DMSans-Medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

:root {
  /* font-style font-weight font-size font-family */
  --font-1: 400 96px/100% "DM Sans, SemiBold Italic";
  --font-2: 700 52px/120% "Bricolage Grotesque, Bold";
  --font-3: 300 32px/100% "DM Sans, Light";
  --font-4: 700 28px/120% "DM Sans, Bold";
  --font-5: 500 20px/120% "DM Sans, SemiBold";
  --font-5m: 500 20px/120% "DM Sans, Medium";
  --font-6: 400 18px/120% "DM Sans, Medium";
  --font-7: 400 16px/120% "DM Sans, Medium";
  --font-8: 400 14px/120% "DM Sans, Medium";

  --ls-1: -2px;
  --ls-2: 0;
  --ls-3: 0;
  --ls-4: 0;
  --ls-5: 0;
  --ls-6: 0;
  --ls-7: 0;
  --ls-8: 0;
}
