.DailyForecastCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: min-content;

  padding: 10px 16px;
  background-color: var(--color-neutral-800);
  color: var(--color-neutral-0);
  border: 1px solid var(--color-neutral-600);
  border-radius: var(--radius-12);

  .day {
    font-family: var(--text-preset-6-font-family);
    font-size: var(--text-preset-6-font-size);
  }

  .tempBlock {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: var(--text-preset-7-font-family);
  }

  img {
    height: 60px;
    aspect-ratio: 1;
  }
}
