.DailyForecastCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  padding: 10px 16px;
  background-color: var(--color-neutral-800);
  color: var(--color-neutral-0);
  border: 1px solid var(--color-neutral-600);
  border-radius: var(--radius-12);

  &.loading > * {
    opacity: 0;
  }

  .day {
    font: var(--font-6);
  }

  .tempBlock {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font: var(--font-7);
  }

  img {
    height: 60px;
    aspect-ratio: 1;
  }
}
