.ErrorFallback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;

  .errorIcon {
    width: 100%;
    height: 50px;
  }

  h2 {
    font: var(--font-2);
    letter-spacing: var(--ls-2);
  }

  p {
    font: var(--font-5m);
    color: var(--color-neutral-200);
  }
}
