:root {
  margin: 0 auto;
  text-align: center;
  --background-color: var(--color-neutral-900);
}

body {
  background-color: var(--background-color);
}

h1 {
  color: var(--color-neutral-0);
  font: var(--font-2);
  letter-spacing: var(--ls-2);
}

@media (max-width: 768px) {
  body {
    padding-inline: var(--spacing-200);
    padding-block: var(--spacing-200) var(--spacing-600);
  }
}

@media (min-width: 768px) {
  body {
    padding-inline: var(--spacing-300);
    padding-block: var(--spacing-300) var(--spacing-1000);
  }
}

@media (min-width: 1440px) {
  body {
    padding-inline: var(--spacing-1400);
    padding-block: var(--spacing-600) var(--spacing-1000);
  }
}
