@import "./styles/variables/colors.css";
@import "./styles/variables/typography.css";
@import "./styles/variables/spacing.css";
@import "./styles/variables/radius.css";

:root {
  font-family: var(--text-preset-7-font-family), system-ui, Avenir, Helvetica,
    Arial, sans-serif;
  line-height: var(--text-preset-7-line-height);
  color: var(--color-neutral-200);
}
