.WeatherOverview {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-neutral-0);
  position: relative;

  background-image: url("images/bg-today-large.svg");
  background-repeat: no-repeat;
  background-position: center;

  box-sizing: border-box;
  padding: 80px 24px;
  gap: 20px;

  border-radius: var(--radius-20);

  .backgroundImg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .placeNDate {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;

    .place {
      font: var(--font-4);
    }

    .date {
      font: var(--font-6);
      opacity: 80%;
    }
  }

  .iconNTemp {
    display: flex;
    gap: 20px;
    align-items: center;

    img {
      height: 120px;
      aspect-ratio: 1;
    }

    .temperature {
      font: var(--font-1);
      letter-spacing: var(--ls-1);
    }
  }
}

@media (max-width: 720px) {
  .WeatherOverview {
    background-image: url("images/bg-today-small.svg");
    background-size: cover;

    flex-direction: column;

    justify-content: center;

    .placeNDate {
      align-items: center;
    }
  }
}

@media (max-width: 320px) {
  .WeatherOverview {
    .iconNTemp {
      .temperature {
        font-size: calc(96px * 0.8);
      }
    }
  }
}
